<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="SeleniumGrid-Suite">
  <test thread-count="5" parallel="classes" name="Grid Test">
    <classes>
      <class name="test.TC02"/>
      <class name="test.TC01"/>
    </classes>
  </test> <!-- Grid Test -->
</suite> <!-- SeleniumGrid-Suite -->
